body {
    
  background-image: url("https://asset.gecdesigns.com/img/wallpapers/aesthetic-landscape-reflection-background-hd-wallpaper-sr10012410-1706502139247-cover.webp");
}

.content.cm-s-obsidian{
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: rgba(100,100,100,0.7);
  border-radius: 20px;
}